# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
*.snupkg
.nuget/
**/[Pp]ackages/*

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# NativeAOT publish output
**/publish/

# OS files
Thumbs.db
.DS_Store
